<?xml version='1.0' encoding='utf-8'?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:cdv = "http://cordova.apache.org/ns/1.0"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id="com.mindflow.mirrormonkey"
    version="0.0.1"
    xmlns="http://www.w3.org/ns/widgets">
    <name>
        MirrorMonkey
    </name>
    <description>
        The MirrorMonkey Ionic Framework test app using Cordova and AngularJS.
    </description>
    <author email="vesa@mindflow.fi" href="http://www.linkedin.com/pub/vesa-lindfors/0/215/a75">
        MindFlow
    </author>
    <content src="index.html" />
    <access origin="*" />
    <gap:platform name="ios" />
    <gap:platform name="android" />
    <gap:splash src="splash.png" />
    <icon src="icon.png" />
    <preference name="phonegap-version" value="3.1.0" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
</widget>
